# Application
APP_ENV=development
APP_DEBUG=true
APP_HOST=localhost
APP_PORT=8083
APP_BASE_URL=http://localhost:9999

# Database
DB_USER=postgres
DB_PASSWORD=mysecretpassword
DB_NAME=fiber_boilerplate
DB_HOST=localhost
# DB_HOST="postgres-fiber-boilerplate"
DB_PORT=5432
# DB_URL="postgres://postgres:mysecretpassword@postgres-be-test:3306/fiber_boilerplate?schema=public"
DB_URL="postgres://postgres:mysecretpassword@localhost:5432/fiber_boilerplate?schema=public?sslmode=disable"

# JWT
JWT_ALGORITHM=HS256
JWT_PRIVATE_KEY=JWT_PRIVATE_SUPERSECRET
JWT_PUBLIC_KEY=JWT_PUBLIC_SUPERSECRET
JWT_EXPIRES_IN=30000
JWT_FORGOT_PASSWORD_PRIVATE_KEY=JWT_FORGOT_PASSWORD_PRIVATE_SUPERSECRET
JWT_FORGOT_PASSWORD_EXPIRES_IN=60000
JWT_REFRESH_TOKEN_PRIVATE_KEY=JWT_REFRESH_TOKEN_PRIVATE_SUPERSECRET
JWT_REFRESH_TOKEN_EXPIRES_IN=60000
JWT_VERIFY_USER_PRIVATE_KEY=JWT_VERIFY_USER_PRIVATE_SUPERSECRET
JWT_VERIFY_USER_EXPIRES_IN=86400

# REDIS
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USER=default
REDIS_PASSWORD=myredispassword
REDIS_DATABASE=0

# CACHE
CACHE_TTL_IN_SECOND=60
CACHE_MAXIMUM=50

# SUPERUSER
SUPERUSER_EMAIL=superuser@example.com
SUPERUSER_PASSWORD=Tr0j4n_w4r3

# EMAIL
EMAIL_USER_APP=dan.gorczany95@ethereal.email
EMAIL_PASSWORD_APP=J486m1kmFV1DWfDxr5s